<footer class="d-flex flex-column justify-content-center align-items-center py-3 my-4 border-top">
  <div class="d-flex align-items-center mb-3">
    <a
      href="https://github.com/aryajava"
      class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
    >
      <i class="b bi-github"></i>
      1811502754 - Muhammad Arya Java
    </a>
  </div>
  <div class="d-flex align-items-center">
    <a
      href="https://www.budiluhur.ac.id/"
      class="mb-3 me-2 mb-md-0 text-decoration-none lh-1 link-primary"
    >
      Universitas Budi Luhur
    </a>
  </div>
</footer>
