<header class="d-flex flex-column justify-content-around align-items-center py-3 border-bottom">
  <div class="d-flex align-items-center">
    <p class="fs-1 lh-1">Materi Pemrograman Permainan</p>
  </div>
  <div class="d-flex align-items-around mb-2">
    <a
      href="https://fti.budiluhur.ac.id/"
      target="_blank"
      rel="noopener"
      class="mb-3 me-2 mb-md-0 text-decoration-none lh-1 link-primary fs-5"
    >
      Fakultas Teknologi Informasi
    </a>
    <a
      href="https://www.budiluhur.ac.id/"
      target="_blank"
      rel="noopener"
      class="mb-3 me-2 mb-md-0 text-decoration-none lh-1 link-primary fs-5"
    >
      Universitas Budi Luhur
    </a>
  </div>
</header>
