<footer class="d-flex flex-column justify-content-around align-items-center py-3 border-bottom">
  <div class="row text-center">
      <p class="fs-1 mb-1">Materi Pemrograman Permainan</p>
  </div>
  <div class="row justify-content-center text-center fs-5">
      <a
        href="https://fti.budiluhur.ac.id/"
        target="_blank"
        rel="noopener"
        class="me-2 mb-md-0 text-decoration-none link-primary"
      >
        Fakultas Teknologi Informasi
      </a>
      <a
        href="https://www.budiluhur.ac.id/"
        target="_blank"
        rel="noopener"
        class="me-2 mb-md-0 text-decoration-none link-primary"
      >
        Universitas Budi Luhur
      </a>
  </div>
</header>
