<header>
  <div class="text-center mt-5">
    <h1>Materi Pemrograman Permainan UBL</h1>
    <hr />
  </div>
  <div class="text-center mb-5">
    <p>
      Hallo perkenalkan nama saya Muhammad Arya Java.<br />
      Saya adalah mahasiswa
      <a href="https://www.budiluhur.ac.id/">Universitas Budi Luhur</a>.
    </p>
    <p>
      Di Web ini adalah kumpulan video materi dari matakuliah Pemrograman Permainan di
      <a href="https://www.budiluhur.ac.id/">Universitas Budi Luhur</a>.
    </p>
    <p>
      Playlist YouTube:
      <a href="https://www.youtube.com/playlist?list=PL2bBpVjrCBxQKm-_dkHQFPVXJX7oCNeS_"
        >Pemrograman Permainan UBL</a
      >
    </p>
  </div>
</header>
